.patientContainer {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  margin-top: 50px;
  background-color: rgb(252, 252, 252);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px 40px;
  border-radius: 5px;
}

.patient--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
